---
title: Post Archives
layout: layouts/base.njk
pagination:
  data: collections
  size: 3
  alias: lists
  reverse: true
---

{# Setting variables to be used later #}
{% set itemsPerList = 3 %}

<h1>Archives page</h1>