---
title: Contact
layout: layouts/page.njk
btnTitle: Back to articles
btnHref: /archives
---

<!-- You can also use an HTML or Nunjucks file instead of Markdown if you prefer. -->
<div class="contact__wrapper">
    <h1>Contact Page</h1>
</div>