---
title: About Me
layout: layouts/page.njk
btnTitle: Find me on Twitter
btnHref: https://twitter.com/_DeepakGangwar
---

<!-- You can also use an HTML or Nunjucks file instead of Markdown if you prefer. -->

{# I am Deepak Gangwar, a freelance Frontend Developer. I am a person that writes stuff. #}

<div class="about__wrapper">
    <div class="about__heading">
        <h1 class="about__title">About me</h1>
    </div>
</div>