---
title: Kanhaiya Lal Pareek
layout: layouts/base.njk
btnTitle: Read the articles
btnHref: /archives
---

<section class="sc-01">
  <div class="sc-01__container">
    <div class="sc-01__column-2 sc-01__column">
      <div class="sc-01__articles">
        <h3>Latest articles</h3>

        {# Bringing in 3 most recent posts #}
        {% for post in collections.post | reverse %}
          {% if loop.index0 < 3 %}
            <p class="para">
              <a class="highlighter" href="{{ post.url }}">{{ post.data.title }}</a>
            </p>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>